/*
  Base 
*/
:root {
  /* All colors have been AAA :checked */
  --colorfou: #FFF1A9;
  --colorthr: #C8F1F3;
  --colortwo: #C7F1A6;
  --colorone: #C83659;
  --offblack: #61413F;
}



.Gochi {
  font-family: 'Gochi Hand',
    cursive;
}


.Mali {
  font-family: 'Mali',
    cursive;
}

/*
    Components 
*/

.BtnRed {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 15px;
  background-color: var(--colorone);
  color: white;
  align-self: center;
  margin: 30px;
  font-family: 'Mali',
    cursive;
  font-size: 16px;
}

/*
    about-page
*/

.about-page {
  background-color: var(--colorthr);
  padding: 50px;
  color: var(--offblack);
  justify-content: center;
  display: flex;
  flex-direction: column;

  align-items: center;

}

.logoMark {
  font-family: 'Gochi Hand', cursive;
  font-size: 62px;
  margin: 35px;
  justify-self: center;

}

.Subtitle {
  font-family: 'Mali', cursive, italic;
  font-size: 30px;
}

.imgBook {}

.subName {
  font-family: 'Mali', cursive;
  font-size: 24px;
}

.divGir {
  display: flex;

}